body, html{
	margin:0;
	padding:0;
	font-family: Helvetica, Arial, Sans-Serif;
}
header {
	padding: 1%;
	margin-bottom:3%;
	font-size: 4em;
	color: rgb(233, 109, 31);
	background-color: rgba(145, 145, 145,0.1);
	width: 100%;
}
#flexbox-container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
}
#example_wrapper.dataTables_wrapper.no-footer {
	margin-left: 10%;
	margin-right: 10%;
}

#example.dataTable.no-footer {
	width:100% !important;
	
}

.info-bar {
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: rgba(233, 109, 31,0.5 );
}
ul li {
	display: inline;
}
table.dataTable tbody td {
 	word-break: break-word;
    	vertical-align: top;
}
.text-wrap{
	white-space:normal;
}
.width-200{
    	width:400px;
}
